{% extends 'base.html' %}
{% block title %}
    {{ section.name }}
    -
    {{ block.super }}
{% endblock title %}
{% block content %}
    <div class="panel panel-default" style="width: 75%; margin-left: 2%; padding: 1%;">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">{{ section.name }}
                Data</h3>
        </div>
        <div class="panel-body">
            <p>{{ section.description }}</p>
        </div>
        {% if answers %}
            <table id="wstable" class=" table table-inverse">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Image</th>
                        <th>Answer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for answer in answers %}
                        <tr>
                            <td>{{ answer.student_name}}</td>
                            <td>
                                <a href="{{ answer.image_url }}">{{ answer.image_url }}</a>
                            </td>
                            <td>{{ answer.num }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="width: 75%; margin-left: 2%;" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Charts</h3>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#wstable').DataTable();
                });
            </script>

            <div class="panel-body chart">
                <canvas id="myChart" width="200" height="75"></canvas>
            </div>
            <script type="text/javascript">
                var labels = [];
                var data = [];
                {% for answer in ws_answers %}
                    labels.push('{{ answer.student_name }}');
                    data.push({{ answer.num }});
                {% endfor %}
                console.log(data);
                console.log(labels);
                var ctx = document.getElementById("myChart");
                var poolColors = function (a) {
                    var pool = [];
                    for (i = 0; i < a; i++) {
                        pool.push(dynamicColors());
                    }
                    return pool;
                };
                var dynamicColors = function () {
                    var r = Math.floor(Math.random() * 255);
                    var g = Math.floor(Math.random() * 255);
                    var b = Math.floor(Math.random() * 255);
                    return "rgb(" + r + "," + g + "," + b + ")";
                };
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels,
                        datasets: [
                            {
                                backgroundColor: poolColors(data.length),
                                data
                            }
                        ]
                    },
                    options: {
                        legend: {
                            display: false,
                            labels: {
                                display: false
                            }
                        }
                    }
                });
            </script>
        </div>

    {% endif %}
{% endblock content %}
