{% extends 'base.html' %} {% block title %} Homepage - {{ block.super }} {% endblock title %} {% block content %}

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // Load the Visualization API and the corechart package.
    google.charts.load('current', {
        'packages': ['bar']
    });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Student');
        data.addColumn('number', 'Answer');
        {% for answer in answers %}
          data.addRow([ '{{answer.student }}', {{ answer.num }}]);
        {% endfor %}
        // Set chart options
        var options = {
          chart: {
            title: 'Students Answers on Worksheet 1'
          },
          bars: 'horizontal',
          width: 400,
          legend: { position: 'none' },
          axes: {
           y: {
             0: { side: 'top', label: ''} // Top x-axis.
           }
          },
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.charts.Bar(document.getElementById('chart_div'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
    }
</script>

<!--Div that will hold the pie chart-->
<div id="chart_div"></div>

{% endblock content %}
